.App {
    --header_height: 60px;
    margin: 0 70px;
}

.hw {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hwTitle {
    margin: 20px 0;
    font-weight: bold;
}