.App {
    --header_height: 60px;
    margin: 0 70px;
}

.hw {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hwTitle {
    font-weight: bold;
}