.error {
    background-image: url(https://citaty.info/files/quote-pictures/557155-vlastelin-kolec-dve-kreposti-the-lord-of-the-rings-the-two-towers_0.jpg);
    font-weight: bold;
    font-size: 10rem;
    height: 45rem;
}