.item {
    width: 606px;
    height: 36px;
    left: 70px;
    top: 1044px;
    font-size: 18px;
    font-family: 'Roboto';
}

.item:last-of-type {
}

.users {
    width: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 25px 270px;
}

.container {
    width: 800px;
}

.thead {
    width: 606px;
    height: 36px;
    left: 70px;
    top: 1044px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 16px;
    color: #000000;
}

.nameCol {
    width: 350px;
    padding-left: 20px;
}

.ageCol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 16px;
    color: #000000;
}