.hoverBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -25%;
    width: 41%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #000;
    padding-left: 0.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: left 1s linear;
}

.hoverBlock:hover {
    left: 2rem;
}

.touch {
    padding: 1rem;
    color: white;
    width: fit-content;
}

.link {
    text-decoration: none;
    color: #297dc0;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.link:hover{
    color: #ffffff;
}

.link:active{
    color: #6be71b;
}

